.hed1{
    text-align: center;
    text-decoration: dotted;
    color: cadetblue;
}

.flexboi{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}
img{
    width: 300px;
    height: auto;

}